/* global */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: arial;
    text-align: center;
    line-height: 2;
}
header{ 
   background-color: lightgreen;
   display: flex;
   height: 200px;
   justify-content: space-between;
   padding: 10px;
   text-align: left;
   
}
a{
    color: black;
    padding-right: 10px;
    text-decoration: none;
}
/* body */
.container{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.registration{
    display: flex;
    justify-content: center;
    gap: 10px;
}