/* global */
*{
    margin: 0;
    padding: 0;
}

/* dark Mode */
.checkbox{
    opacity: 0;
    position: absolute;
    display: none !important;
}
.checkbox-label{
    align-items: center;
    background-color: #111;
    border-radius: 50px;
    display: flex;
    height: 26px;
    justify-content: space-between;
    position: relative;
    padding: 5px;
    width: 50px;
}
.fa-moon{
    color: #f1c40f;
}
.fa-sun{
    color: #f39c12;
}
.checkbox-label .ball{
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    right: 2px;
    border-radius: 50%;
    transistion: transform 0.2s linear;
}
.checkbox:checked + .checkbox-label .ball{
    transform: translateX(24px);
}
#checkbox{
    display: none;
}

/* header */
header{
    background-image: url(/img/Pet\ Salon\ header.jpg);
    background-size: cover;
    height: 350px;
}
.p-header{
    color: white;
    font-family: Franklin Gothic Medium;
    font-size: 2rem;
    padding-top: 5px;
    -webkit-text-stroke: 1px black;
}
/* register */
.petCounter{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
/* service */
.service-card-container{
    align-content: center;
    display: flex;
    flex-direction: row;
}
.serviceCard{
    margin-right: 2em;
}
.price{
    color: green;
}
/* footer */
.contact-footer{
    background-color: lightgrey;
    height: 100px;
    margin-top: 260px;
}    
.footer-div-parent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 38px;
}
.footer-div-c1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ul{
    text-decoration: underline;
}
.footer-div-c2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
}
.footer-p1{
    font-weight: bold;
    text-decoration: underline;
}
.footer-div-c3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 18px;
}
.fa-brands{
    border: 1px solid black;
    padding: 8px;
    border-radius: 50%;
}